[functions]
	external_node_modules = ["axios", "express", "jsdom", "serverless-http"]
	node_bundler = "esbuild"

[[redirects]]
	from = "/api/*"
	to = "/.netlify/functions/api/:splat"
	status = 200

[[redirects]]
	from = "/portfolio/*"
	to = "/portfolio.html"
	status = 200
