[functions]
	external_node_modules = ["axios", "express", "jsdom", "serverless-http"]
	node_bundler = "esbuild"

[[redirects]]
from = "*"
to = "https://en.wikipedia.org/wiki/Main_Page"
status = 301
force = true
